@using ControllerView.Models
@model Student
@{
    Layout = "MainLayout";

}
<h2 class="toast-header">Update</h2>

<form asp-action="Update" asp-controller="Students">
    <div>
        <label asp-for="@Model.FirstName"></label>
        <input class="form-control" asp-for="@Model.FirstName" />
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Update Student</button>
</form>
